
.long_table_header {
    > th {
        text-align: start;
        text-transform: uppercase;
        font-weight: normal;
        padding: 8px 28px 8px 16px;
        box-shadow: 0 0 0 2px black;
        background: #f0f0f0;
    }
}

.long_table_body {
    td {
        text-align: start;
        padding: 2px 16px;
    }
}

.moveDetails {
    tr {
        td {
            border: 2px solid #f0f0f080;
        }
    }
    td:first-child {
        padding: 0;
        vertical-align: middle;
        text-align: center;
        width: 56px;
        height: 56px;
    }
}