.table_header {
    > th {
        text-align: center;
        text-transform: uppercase;
        font-weight: normal;
        padding: 0 16px;
        border-width: 1px;
        background: #00000080;
    }
}

.table_body {
    td {
        text-align: center;
        padding: 0 16px;
    }
}